@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;

  background: url('/SAIPurityScore/Summertime_Sai_712x313.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

#test {
  padding: 0% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}
#test li {
  margin: 10px 0px;
}

#finalScore {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calculate-btn {
  margin: 50px 0;
  padding: 2% 5%;
}

.calc-score {
  font-size: 5em;
}

button {
  padding: 2% 5%;
}
